<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">CupPrint.Sage200Plugin</label>
    <label>CupPrint.Sage200Plugin</label>

    <version>0.0.1</version>
    <copyright>(c) CupPrint</copyright>
    <link>https://www.cupprint.com</link>
    <author>Oliver Lohkemper</author>
    <description lang="de"><![CDATA[Plugin zur anbindung vom CupPrint]></description>
    <description><![CDATA[Plugin for connect CupPrint]]></description>

    <compatibility minVersion="5.2.0" />

    <changelog version="0.0.1">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes>Initial Release</changes>
    </changelog>
</plugin>