<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="boolean">
            <name>debug</name>
            <label lang="en">Debug</label>
            <label lang="de">Debug</label>
            <value>true</value>
            <description>Debug-Modus</description>
        </element>
    </elements>
</config>